:root{
  --grey: #31343e;
  --teal:#80cecf;
  --blue: #37587a;
  --white: #eeeef8;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
}

.header1{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:55px;
  width:100%;
  background-color: var(--grey);
  padding: 35px 0;
}

.header1 h1{
  /* learnatino */
  width:auto;
  color: var(--grey);
  font-size: 40px;
  background-color: var(--teal);
  padding: 3px 3px 5px 50px;
  margin:3px 0;
}

.header1 nav{
  /* about me work contact me resume */
  width: auto;
  color: var(--teal);
  margin-right: 70px;
  margin-top:20px;
}

.header1 li{
  /* this keeps the nav links inline */
  display:inline-block;
  padding: 2px 6px;
  border-bottom: 3px solid;
}

.header2{
  display:flex;
  position:relative;
}

.hero {
  height: 175px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/coolBackground.png");
  /* background-size:cover resizes the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
  background-size: cover;
  background-position: center;
}

.header2 h2{
    /* Cool subtitle here */
    color: var(--grey);
    font-size: 28px;
    background-color: var(--teal);
    padding: 3px;
    position:absolute;
    bottom:1em;
    right:82px;
    
  }

  main{
    display:flex;
    flex-direction:column;
    margin-left: 100px;
  }

.container{
  display:flex;
  justify-content:stretch;
  width:100%;
  /* background-color: var(--grey); */
  padding: 5px 0;
  margin-top: 20px;
  
  
  
}

aside{
  text-align: right;
  padding: 0 3px 0 0;
}
.sideborder{
  border-left: 3px solid var(--blue);
  padding:10px 40px 10px 40px;
}
h1{
  color: var(--blue);
  font-size: 40px;
  margin-left: 10px;
  width: 200px;

}

footer p{
  display:inline;
  font-size:14px;
  color: var(--grey);
  margin-right: 70px;
  margin-top:20px;
  padding: 2px 6px;
  border-bottom: 3px solid var(--blue);
}

.thegrid{
  display:flex;

}

.article1{
  border:3px solid var(--teal);
  width:100%;

}
.article2{

}
.littlebox{
  background-color: var(--teal);
  width: auto;
  position:absolute;
  bottom:1em;
  left:0px;
  padding: 8px;

}
.littlebox detail{
  font-size: 10px;
}



.hero2 {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/Horiseon.png");
  /* background-size:cover resizes the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
  background-size: cover;
  background-position: center;
  overflow:hidden;
  position:relative;
}
